section <div class="form"></div>
<form action="" class="regform">
    <label for="name">Name :-
        <input type="text" id="name">
    </label>
    <label for="address">City :-
        <input type="text" id="address">
    </label>
    <label for="contact">Contact No. :-
        <input type="text" id="contact">
    </label>
    <label for="gender">Gender :-
        Male<input type="radio" id="gender">
        Female<input type="radio" id="gender">
        Other<input type="radio" id="gender">
    </label>
    <label for="dob">Date Of Birth :-
        <input type="date" id="dob">
    </label>
    <label for="email">Email ID:-
        <input type="email" id="email">
    </label>
    <label for="pwd">Password :-
        <input type="password" id="pwd">
    </label>
    <label for="submit">
        <a routerLink="/loginlink">
            <button id="submit">
                Submit
    
            </button>
        </a>
    </label>
    <label for="reset">
        <input type="reset">
    </label>
</form>